<script type="text/javascript">
//<![CDATA[
Event.observe(window, 'load', function(){
	if (!!(window.attachEvent && !window.opera)){
		$('google_map').style.top = '-22px';
		$('google_map').style.left = '10px';
	}
});
//]]>
</script>
