.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px 7px 12px 7px;
  margin: 0px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


.flash { border: 1px solid #CCC; }
.flash_messages { padding-left: 1em; }
.flash_header { font-weight:bold; padding-left: 0.5em;}
.flash_footer { text-align: right; }


.flash_errors { width: 30em;  }
.flash_errors > .flash_messages { }
.flash_errors > .flash_header { 
    background-color:#00F; 
    color: #FFF;
    font-size:large;
}
.flash_errors > .flash_footer { background-color:#FFC; }

.flash_notices { position: absolute; width: 15em; right: 0em; top: 0em; background-color:#EEE; }
.flash_notices > .flash_messages {}
.flash_errors > .flash_footer { text-align: right; background-color:#FFC; }
